@model IEnumerable<Product>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width">
        <title>Language Features</title>
    </head>
    <body>
            @foreach (Product s in Model)
            {
            <p>@s.Name @s.Price</p>
        }
        
    </body>
</html>
