@model IQueryable<Product>
@foreach (var p in Model ?? Enumerable.Empty<Product>()){
    <div>
        <h3>@p.Name</h3>
        <span>@p.Description</span>
        <h4>@p.Price.ToString("c")</h4>
    </div>
}